<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servletControladorEntrada</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletControladorEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVotante</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCenso</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEscrutinio</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletResultados</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGestion</servlet-name>
        <servlet-class>packagevotaciones.CONTROLLER.servletGestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletControladorEntrada</servlet-name>
        <url-pattern>/servletControladorEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCenso</servlet-name>
        <url-pattern>/servletCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEscrutinio</servlet-name>
        <url-pattern>/servletEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletResultados</servlet-name>
        <url-pattern>/servletResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGestion</servlet-name>
        <url-pattern>/servletGestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
